DATABASE_URL="postgresql://postgres:postgres@localhost:5432/risk_one_group"
API_PORT=4000
APP_URL="http://localhost:3000"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="operations@riskonegroup.com"
